<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

	<application
		android:name=".LightTubeApplication"
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/Theme.LightTube"
		tools:targetApi="31">
		<activity
			android:name=".ui.activity.CrashHandlerActivity"
			android:exported="false" />
		<activity
			android:name=".ui.activity.LoginActivity"
			android:configChanges="orientation|screenSize"
			android:exported="false" />
		<activity
			android:name=".ui.activity.SetupActivity"
			android:configChanges="orientation|screenSize"
			android:exported="true" />
		<activity
			android:name=".ui.activity.MainActivity"
			android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout"
			android:exported="true"
			android:supportsPictureInPicture="true"
			android:launchMode="singleTask">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="youtube.com" />
				<data android:host="m.youtube.com" />
				<data android:host="www.youtube.com" />
				<!-- Videos -->
				<data android:pathPrefix="/v/" />
				<data android:pathPrefix="/embed/" />
				<data android:pathPrefix="/watch" />
				<data android:pathPrefix="/attribution_link" />
				<data android:pathPrefix="/shorts/" />
				<data android:pathPrefix="/live/" />
				<!-- Channels -->
				<data android:pathPrefix="/channel/" />
				<data android:pathPrefix="/user/" />
				<data android:pathPrefix="/c/" />
				<data android:pathPrefix="/@" />
				<!-- Playlists -->
				<data android:pathPrefix="/playlist" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="youtu.be" />
				<data android:pathPrefix="/" />
			</intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW" />

				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />

				<data android:scheme="http" />
				<data android:scheme="https" />
				<data android:host="www.youtube-nocookie.com" />
				<data android:pathPrefix="/embed/" />
			</intent-filter>
		</activity>
	</application>
</manifest>